# Intro Python Notebook


This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if,elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map and filter
* methods
____

Free Python book: [Python for Everybody: Exploring Data In Python 3](http://www.pythonlearn.com/book.php)

Free online course: [Programming for Everybody (Python)](https://www.coursera.org/course/pythonlearn)

[An Informal Introduction to Python](https://docs.python.org/2/tutorial/introduction.html)

## Data types

### Numbers

* integer - whole number, i.e. no decimals
* float - decimal point

In [ ]:
1 + 1

In [ ]:
1 * 3

In [ ]:
1 / 2

In [ ]:
5 / 2

In [ ]:
2 ** 4

In [ ]:
4 % 2

In [ ]:
5 % 2

In [ ]:
(2 + 3) * (5 + 5)

In [ ]:
5 - 3

In [ ]:
1 ** 3

### Variable Assignment

[Variable naming convention](https://google.github.io/styleguide/pyguide.html?showone=Naming#Naming)

* Letters, digits and underscores
* Cannot start with a digit
* Donâ€™t use keywords (print, import, etc.)
* Follow convention: all lowercase, use underscores

In [ ]:
import keyword
keyword.kwlist

In [91]:
keyword.iskeyword("zoe")

False

In [ ]:
keyword.iskeyword("if")

In [93]:
zoexili = 1

In [92]:
print(zoexili)

1

In [ ]:
# Can not start with number or special characters
name_of_var = 2

In [94]:
print(name_of_var)

2

In [ ]:
x = 2
y = 3

In [ ]:
z = x + y

In [ ]:
print(z)

In [ ]:
z

### Strings

In Python single and double quotes are the same

In [ ]:
'single quotes'

In [ ]:
"double quotes"

In [ ]:
"wrap lot's of other quotes"

In [1]:
a = 'I'
b = 'love'
c = 'GIS'
print(a + " " + b + " " + c)

I love GIS

In [98]:
a = "Geog"
b = "503"
c = "is awesome!"
print(a + " " + b + " " + c)

Geog 503 is awesome!

In [95]:
x = "Geographic"
y = "Information"
z = "System"
print(x + " " + y + " " + z)

Geographic Information System

### Printing

In [99]:
x = 'hello'

In [100]:
x

'hello'

In [101]:
print(x)

hello

In [ ]:
num = 12
name = 'Sam'

In [ ]:
print(num)

In [ ]:
print(name)

In [3]:
print("my id is 111, and my name is GIS")

my id is 111, and my name is GIS

In [2]:
id = 111
name = "GIS"

print("my id is {}, my name is {}". format(id,name))

my id is 111, my name is GIS

In [7]:
num = 12
name = "Sam"

In [8]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [9]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Comments

Comments in Python start with the hash character, #, and extend to the end of the physical line. A comment may appear at the start of a line or following whitespace or code, but not within a string literal. A hash character within a string literal is just a hash character.

In [ ]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside quotes."

### Data types

In [10]:
x = 17
type(x)

int

In [11]:
x = "GIS"
type(x)

str

In [15]:
x = 3.14
type(x)

float

### Converting data types

In [16]:
temp = 100
type(temp)

int

#temp - tempeature

In [19]:
temp_f = float(temp)
type(temp_f)

float

In [ ]:
temp_s = str(temp)
type(temp_s)

In [ ]:
astring = '99'
type(astring)

In [ ]:
astring_int = int(astring)
type(astring_int)

In [ ]:
astring_float = float(astring)
type(astring_float)

### Lists

In [ ]:
[1,2,3]

In [ ]:
['hi',1,[1,2]]

In [ ]:
my_list = ['a','b','c']

In [ ]:
my_list.append('d')

In [ ]:
my_list

In [ ]:
my_list[0]

In [ ]:
my_list[1]

In [ ]:
my_list[1:]

In [ ]:
my_list[:1]

In [ ]:
my_list[0] = 'NEW'

In [ ]:
my_list

In [ ]:
nest = [1,2,3,[4,5,['target']]]

In [ ]:
nest[3]

In [ ]:
nest[3][2]

In [ ]:
nest[3][2][0]

### Dictionaries

In [ ]:
d = {'key1':'item1','key2':'item2'}

In [ ]:
d

In [ ]:
d['key1']

### Booleans

# The first letter has to be upper case, otherwise will not work. 
    # "true" is not defined.
    # true or false is important when we write conditional assignements.

In [3]:
True

True

In [2]:
False

False

In [1]:
true

NameError: name 'true' is not defined

### Tuples

# most of time we use list instead of tuples because they cannot be changed once they are assigned.

In [4]:
t = (1,2,3)

In [5]:
t[0]

1

In [7]:
t[0] = 0

TypeError: 'tuple' object does not support item assignment

In [6]:
# t[0] = 'NEW'

### Sets

# Set only stores the unique items in the set.

In [8]:
{1,2,3}

{1, 2, 3}

In [9]:
{1,2,3,1,2,1,2,3,3,3,3,2,2,2,1,1,2}

{1, 2, 3}

In [12]:
a = {1, 2, 3}

In [13]:
b = {1, 2, 3, 2, 1, 2, 3, 1}

In [14]:
b

{1, 2, 3}

## Comparison Operators

# Be careful with the equal sign, which should be double equal.
    # comparison operators can be used for any data types.

In [16]:
1 > 2

False

In [17]:
1 < 2

True

In [18]:
1 >= 1

True

In [19]:
1 <= 4

True

In [20]:
1 == 1

True

In [15]:
'hi' == 'bye'

False

## Logic Operators

# In order to vote, you have to be a new york resident and over 18 years old. 
    # The condition is "and", which means you have to meet both requirements to be true.
    
# "Or" means you only have to meet one condition.

In [21]:
(1 > 2) and (2 < 3)

False

In [22]:
(1 > 2) or (2 < 3)

True

In [23]:
(1 == 2) or (2 == 3) or (4 == 4)

True

## if,elif, else Statements

# colon is very important, please do not forget. 
    # else:
    # if 1>2:
    # elif 3 == 3:
    
# indentation has to be the same for the whole code, otherwise you will get an error.

In [24]:
if 1 < 2:
    print('Yep!')

Yep!

In [25]:
if 1 < 2:
    print('yep!')

yep!

In [26]:
if 1 < 2:
    print('first')
else:
    print('last')

first

# when 1 < 2 condition is met, you do not have to worry about the else.

In [27]:
if 1 > 2:
    print('first')
else:
    print('last')

last

In [28]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')
else:
    print('Last')

middle

In [32]:
if 1 == 2:
    print('first')
elif 3 == 3:
    print('middle')  
    
    if 5 < 8:
        print("another yes")
else:
    print('Last')

middle
another yes

## for Loops

In [33]:
seq = [1,2,3,4,5]

In [35]:
for item in seq:
    print(item)

1
2
3
4
5

In [38]:
for i in seq:
    print(i)

1
2
3
4
5

# "seq" has to be defined previously, but "item" does not matter. It could be i, jelly, and any other thing.

In [39]:
for i in seq:
    print(i*2)

2
4
6
8
10

In [40]:
for i in seq:
    print(i+3)

4
5
6
7
8

In [36]:
for item in seq:
    print('Yep')

Yep
Yep
Yep
Yep
Yep

In [52]:
for i in seq:
    print(i + ': Yep')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [48]:
for i in seq:
    print(str(i) + ': Yep')

1: Yep
2: Yep
3: Yep
4: Yep
5: Yep

# str converts i to string.

In [37]:
for jelly in seq:
    print(jelly+jelly)

2
4
6
8
10

## while Loops

# Make sure you put colon : afterwards while i < 5.

In [56]:
i = 1
while i < 5:
    print('i is: {}'.format(i))
    i = i+1

i is: 1
i is: 2
i is: 3
i is: 4

In [59]:
i = 1
while i < 14:
    print('i is: {}'.format(i))
    i = i + 1

i is: 1
i is: 2
i is: 3
i is: 4
i is: 5
i is: 6
i is: 7
i is: 8
i is: 9
i is: 10
i is: 11
i is: 12
i is: 13

## range()

# range means there is start point, stop point and a step interval. 
# put your cursor on your string, can shift+tab to see info.

In [60]:
range(5)

range(0, 5)

In [61]:
for i in range(5):
    print(i)

0
1
2
3
4

In [62]:
list(range(5))

[0, 1, 2, 3, 4]

In [63]:
list(range(5,10))

[5, 6, 7, 8, 9]

In [64]:
list(range(5,10,2))

[5, 7, 9]

In [65]:
num = input ('enter a number: ')
type (num)

enter a number: 66

str

In [66]:
num = float(input('enter a number: '))
type (num)

enter a number: 66

float

# Adding float is to convert string to number.

## list comprehension

In [ ]:
x = [1,2,3,4]

In [ ]:
out = []
for item in x:
    out.append(item**2)
print(out)

In [ ]:
[item**2 for item in x]

## functions

In [ ]:
def my_func(param1='default'):
    """
    Docstring goes here.
    """
    print(param1)

In [ ]:
my_func

In [ ]:
my_func()

In [ ]:
my_func('new param')

In [ ]:
my_func(param1='new param')

In [ ]:
def square(x):
    return x**2

In [ ]:
out = square(2)

In [ ]:
print(out)

## lambda expressions

In [ ]:
def times2(var):
    return var*2

In [ ]:
times2(2)

In [ ]:
lambda var: var*2

In [ ]:
g = lambda var: var*2
print(g(3))

## methods

In [ ]:
st = 'hello my name is Sam'

In [ ]:
st.lower()

In [ ]:
st.upper()

In [ ]:
st.split()

In [ ]:
tweet = 'Go Sports! #Sports'

In [ ]:
tweet.split('#')

In [ ]:
tweet.split('#')[1]

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.items()

In [ ]:
lst = [1,2,3]

In [ ]:
lst.pop()

In [ ]:
lst

In [ ]:
'x' in [1,2,3]

In [ ]:
'x' in ['x','y','z']

### Help

In [ ]:
help(print)

In [ ]:
help(int)

In [ ]:
help(input)

# Great Job!